body{
    background: black;
    color: white;
    font-family: verdana;
}

#allPuppies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    border: solid blue 10px;
    border-style: double;
}

div > li{
    border: solid;
    margin: 1rem;
    padding: .5rem;
}

.selected{
    background-color: grey;
}

li:hover{
    background-color: green;
}

.image{
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
    margin: 1rem;
}

#selectedPuppy{
    text-align: center;
}

@media (width:500px){
    #allPuppies{
        flex-direction: column;
    }
}